@model MVCdemo.Models.Environment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Environment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.AppName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.AppName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchDiagramPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchDiagramPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinksParameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinksParameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerParameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerParameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBServerParameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBServerParameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileShareParameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileShareParameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnvType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnvType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnvID }) |
    @Html.ActionLink("Back to List", "Index", new { app_id = Model.AppId, env = Model.EnvType })
</p>
