@model MVCdemo.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppName)
        </dt> 

        <dd>
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.AppOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppOwner)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.AppDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppDesc)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppId }) |@Html.ActionLink("Delete", "Delete", new { id = Model.AppId })|
    @Html.ActionLink("Back to List", "Index")
</p>
