@model IEnumerable<MVCdemo.Models.FileShare>

@{
    ViewBag.Title = "Index";
}

<h2>Fileshare Details</h2>
@if (ViewBag.AppName != null)
{
    <h4 class="well"><b>Application Name:</b>  @ViewBag.AppName </h4>
}
<p>
    @Html.ActionLink("New Server", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right " })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Application.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSharePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileShareType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnvType)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Application.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSharePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileShareType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnvType)
        </td>
        
        <td>
            
           
            <input type="button" value="Connect" class="btn btn-primary btn-sm" onclick=' window.open("file://@Html.DisplayFor(modelItem => item.FileSharePath)", "explorer")' />







      @Html.ActionLink("Edit", "Edit", new { id = item.FileShareId }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Details", "Details", new { id = item.FileShareId }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.FileShareId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })


        </td>
    </tr>
}

</table>
@if (Session["appid"] == null || Session["env"] == null)
{ @Html.ActionLink("Back to List", "Index", "Environments")
}
else
{
    @Html.ActionLink("Back to List", "Index", "Environments", new { app_id = Convert.ToInt32(Session["appid"].ToString()), env = Session["env"].ToString() }, null)
}